In [1]:
import pandas as pd
import os

In [17]:
os.getenv('PUIDATA')

'/home/cusp/as10724/PUIdata'

In [18]:
!ls os.getenv('PUIDATA')

/bin/sh: -c: line 0: syntax error near unexpected token `('
/bin/sh: -c: line 0: `ls os.getenv('PUIDATA')'

In [19]:
pwd

u'/wingrdp/homedirs/as10724/PUI2016_as10724'

In [22]:
dataFile = os.getenv('PUIDATA') + '/' + 'IntrotoStats_Table6_1.csv'

In [23]:
data = pd.read_csv(dataFile)
data.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [24]:
data.Gender.replace('Female', inplace = True)